{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<h1 align="center">St Luke's Orthopaedic &
  Trauma Hospital</h1>
<style>

  body{
        background-color: rgb(165, 221, 235);
    }
  p.c {
    font-style: oblique;
  }
  h1{
    color: blue;
    font-weight: 500;
  }
</style>
<h4 align="right" class="c">"St Luke's Orthopaedic &
  Trauma Hospital"</h4>

    <p> St. Luke’s Orthopaedic and Trauma Hospital is an ultra-modern hospital started in the year 2012, after operating as a clinic and an orthopaedics supplier since year 2005. We offer both outpatient and inpatient services in our facility which is located along Nandi Road, opposite the Moi University School of Dentistry in Eldoret town, Uasin Gishu County, Kenya.We are dedicated to our patient’s wellbeing and comfort in a Serene atmosphere while Focused on quick recovery and client satisfaction.Outside our hospital doors, we are helping to build a groundswell of health and wellness through our ever-growing family of community partners. Standing with area businesses and community leaders, our message and our mission is spreading throughout Kenya and beyond—giving more and more people access</p>
</div>

{% endblock %}