{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <br> 
<style>
    * {box-sizing: border-box;}
    body {
      font-family: Verdana, sans-serif;
      display: block;
      background-image: url('static/images/corona.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }   
    /* Slideshow container */
    
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      
      .text {font-size: 11px}
    }
    </style> 

   
{% endblock %}
